absl-py==1.0.0
appdirs==1.4.4
astunparse==1.6.3
attrs==21.2.0
audioread==2.1.9
auto-face-recognition==0.0.2
beautifulsoup4==4.9.3
blis==0.7.5
cachetools==4.2.4
catalogue==2.0.6
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.9
click==8.0.3
colorama==0.4.4
comtypes==1.1.10
cvzone==1.1.1
cycler==0.11.0
cymem==2.0.6
decorator==5.1.0
docopt==0.6.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
filelock==3.4.0
flatbuffers==2.0
fonttools==4.28.5
gast==0.4.0
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googlesearch-python==1.0.1
grpcio==1.43.0
gTTS==2.2.1
h5py==3.6.0
idna==2.10
importlib-metadata==4.9.0
JarvisAI==3.6
Jinja2==3.0.3
joblib==1.1.0
Js2Py==0.71
keras==2.7.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
langcodes==3.3.0
lazyme==0.0.23
libclang==12.0.0
librosa==0.8.0
llvmlite==0.37.0
lxml==4.6.1
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.5.1
mediapipe==0.8.8
murmurhash==1.0.6
numba==0.54.1
numpy==1.20.3
oauthlib==3.1.1
opencv-contrib-python==4.5.2.52
opencv-python==4.5.2.52
opt-einsum==3.3.0
packaging==21.3
pathy==0.6.1
Pillow==8.4.0
pipwin==0.5.0
playsound==1.2.2
pooch==1.5.2
preshed==3.0.6
protobuf==3.19.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio @ file:///C:/Users/dipes/pipwin/PyAudio-0.2.11-cp39-cp39-win_amd64.whl
pycparser==2.21
pydantic==1.8.2
pyjokes==0.6.0
pyjsparser==2.7.1
pyparsing==3.0.6
pypiwin32==223
PyPrind==2.11.3
pyserial==3.5
pySmartDL==1.3.4
python-dateutil==2.8.2
pyttsx3==2.90
pytz-deprecation-shim==0.1.0.post0
pywin32==302
regex==2021.11.10
requests==2.25.1
requests-oauthlib==1.3.0
resampy==0.2.2
rsa==4.8
sacremoses==0.0.46
scikit-learn==1.0.1
scipy==1.7.3
six==1.16.0
smart-open==5.2.1
SoundFile==0.10.3.post1
soupsieve==2.3.1
spacy==3.2.1
spacy-legacy==3.0.8
spacy-loggers==1.0.1
SpeechRecognition==3.8.1
srsly==2.4.2
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.23.1
termcolor==1.1.0
thinc==8.0.13
threadpoolctl==3.0.0
tokenizers==0.10.3
torch==1.7.1
tqdm==4.62.3
transformers==4.3.2
typer==0.4.0
typing_extensions==4.0.1
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.7
wasabi==0.9.0
Werkzeug==2.0.2
wikipedia==1.4.0
wrapt==1.13.3
zipp==3.6.0
